:root {
    --color-body:          #038bbb;
    --color-header-footer: #010d23;
    --color-main:          #038bbb;
    --color-aside:         #3A8BA9;


    --color-texto-oscuro:  #010d23;
    --color-texto-blanco:  #f8f8ec;
    --color-texto-dorado:  #fccb6f;
    
    --color-borde-dorado:  #fccb6f;
    --color-borde-oscuro:  #010d23;


    --color-fondo-oscuro:    #010d23;
    --color-fondo-blanco:    #f8f8ec;
    --color-fondo-dorado:    #fccb6f;

    --color-subrayado-dorado:#fccb6f; 
}

.sonCincoColores{
    color: #038bbb;
    color: #010d23;
    color: #3A8BA9;
    color: #f8f8ec;
    color: #fccb6f;
}