
/** Estilos de los colores */
@import './colores.css';

/** Estilos para cada pagina del sitio web */
@import './paginas/inicio/inicio.css';
@import './paginas/quien_soy/quien_soy.css';
@import './paginas/contactame/contactame.css';
@import './paginas/vocabulario/vocabulario.css';
@import './paginas/registro/registro.css';
@import './paginas/login/login.css';


/** -------------- IGUAL PARA TODAS LAS PAGINAS --------------*/

/** UNIVERSAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/** BODY */
body {
    background-color: var(--color-fondo-principal);
    color: var(--color-texto-principal);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}


/** HEADER */
header {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    padding: 14px 20px;
    border-bottom: 0.1px solid var(--color-borde-principal);
    border-radius: 0rem 0rem 0.4375rem 0.4375rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    #logos {
        width: 30%;
        img {
            width: 4.6875rem;
            height: 4.6875rem;
        }
    }

    h1 {
        a {
            color: var(--color-texto-principal);
            font-size: 2.5rem;
            letter-spacing: 0.0313rem;
            text-decoration: underline 0.125rem var(--color-subrayado-principal);
            text-underline-offset: 0.375rem;
        }
    }

    nav {
        width: 30%;
        ul {
            display: flex;
            justify-content: space-between;
            gap: 5px;
            li {
                list-style: none;
                a {
                    font-weight: bold;
                    text-decoration: none;
                    color: var(--color-texto-principal);
                    letter-spacing: 0.025rem;
                    cursor: pointer;

                    &:hover {
                        color: var(--color-texto-terciario);
                        font-size: 1.01rem;
                        text-decoration: underline 0.075rem
                            var(--color-subrayado-principal);
                        text-underline-offset: 0.375rem;
                    }
                }
            }
        }
    }
}

/** lOGIN */
#formLogin {
    width: 275px;
    margin: auto;

    padding: 10px;
    background-color: var(--color-fondo-principal);
    border: 0.1875rem solid var(--color-borde-principal);
    border-radius: 0.875rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute; /* Cambiar a posición absoluta */
    top: 0px; /* Ajustar según tus necesidades */
    right: 250px; /* Ajustar para moverlo a la esquina superior derecha */

    opacity: 0.001;

    /* TODO Con JS esta opacity se reemplazara por un event sobre el link Login; */

    &:hover {
        opacity: 1;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    div {
        margin: auto;
        width: 90%;
    }

    #contenedorInputWrite {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 22px 25px;
        margin-bottom: 1.7rem;

        input {
            width: 100%;
            padding: 7px;
            border: 0.1875rem solid var(--color-borde-principal);
            border-radius: 0.5rem;
        }
    }

    #contenedorFormBotonesEnviarYBorrar {
        width: 90%;
        display: flex;
        justify-content: space-between;

        input {
            padding: 7px 10px;
            border-radius: 0.5rem;
            font-size: 1rem;
            font-weight: bold;
            border: 0.1563rem solid var(--color-borde-principal);

            &[type="submit"] {
                background-color: green;
                color: var(--color--texto-blanco);
            }

            &[type="reset"] {
                background-color: red;
                color: var(--color--texto-blanco);
            }

            &:hover {
                scale: 1.05;
                cursor: pointer;
            }
        }
    }
}


/** MAIN GENERAL */
main {
    width: 100%;
    padding: 0px 15px;
    position: relative;
    /* TODO El position relative del login quizas se saca cuando lo trabaje en css */
}


/** ASIDE */
aside {
    width: 15%;
    height: fit-content;
    padding: 10px;
    padding-top: 0px;

    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 45px;

    #tituloAside {
        font-size: 18px;
        width: 100%;
        padding: 4px;
        border-radius: 8px;
    }

    #sectionPacho8aYoutube {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h4 {
            font-size: 16px;
            width: fit-content;
            margin: auto;
            padding: 5px;
            border-radius: 8px;
        }

        a {
            color: var(--color-texto-principal);
            text-decoration: none;
        }

        iframe {
            margin: auto;
            width: 200px;
            height: 150px;
        }
    }

    #sectionPacho8aSitioWeb {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h4 {
            font-size: 16px;
            width: fit-content;
            margin: auto;
            padding: 5px;
            border-radius: 8px;
        }

        img {
            width: 125px;
        }

        a {
            color: var(--color-texto-principal);
            text-decoration: none;
        }
    }
}


/** FOOTER */
footer {
    padding: 30px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 20px;

    border-top: 1px solid var(--color-borde-principal) ;

    #footerSecciones {
        margin: auto;
        width: 80%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;

        section {
            margin: auto;
            width: 20%;

            img {
                width: 40px;
                height: 40px;
            }
        }
    }

    a {
        color: var(--color-texto-principal);
    }
}



/** -------------- ONLY HOME --------------*/

/** MENU CONTENIDO PRACTICO */
#menuDeContenidosTeoricos {
    width: 15%;
    height: auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid var(--color-borde-principal);

    ul {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        li {
            list-style: none;
            a {
                color: var(--color-texto-principal);
                text-decoration: none;
                padding: 0.625rem;
                border-radius: 0.3125rem;
                display: block;
            }
        }
    }
}




/** -------------- ONLY REGISTRO --------------*/

#formRegistro {
    width: 37.5%;
    margin: 2.5rem auto;

    padding: 0.9375rem 0rem;
    background-color: var(--color-fondo-principal);
    border: 0.1875rem solid var(--color-borde-principal);
    border-radius: 0.875rem;
    font-family: sans-serif;
    color: var(--color-texto-principal);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 1.875rem;
        text-align: center;
        margin-bottom: 1.25rem;
    }

    div {
        width: 95%;
        margin: auto;
    }

    #contenedorInputWrite {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem 1.5625rem;
        margin-bottom: 1.875rem;

        input {
            width: 45%;
            padding: 0.4375rem;
            border: 0.1875rem solid var(--color-borde-principal);
            border-radius: 0.5rem;
        }
    }

    #contenedorFormSeleccionTemas {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

        h4 {
            font-size: 1.375rem;
            text-align: center;
            margin-bottom: 3px;
        }

        p {
            text-align: center;
            margin-bottom: 0.25rem;
        }

        #contenedorOpcionesTematicas {
            width: 95%;
            margin: auto;

            display: flex;
            justify-content: end;
            gap: 0.9375rem;

            div {
                margin: auto;
                display: flex;
                gap: 0.3125rem;

                &:nth-child(3) {
                    margin-left: 0.75rem;
                }

                input {
                    &:hover {
                        scale: 1.35;
                    }
                }
            }
        }
    }

    #contenedorFormRangoDeEdad {
        margin: auto;
        margin-bottom: 1.25rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.3125rem;

        h4 {
            font-size: 1.25rem;
            text-align: center;
            margin-bottom: 3px;
        }

        #OpcionesDeEdad {
            display: flex;
            gap: 1.125rem;
            margin: auto;

            div {
                input {
                    &:hover {
                        scale: 1.35;
                    }
                }
            }
        }
    }

    #contenedorFormBotonesEnviarYBorrar {
        display: flex;
        justify-content: center;
        gap: 1.875rem;

        input {
            padding: 0.625rem;
            border-radius: 0.5rem;
            font-size: 1rem;
            font-weight: bold;
            border: 0.1563rem solid var(--color-borde-principal);

            &[type="submit"] {
                background-color: green;
                color: white;
            }

            &[type="reset"] {
                background-color: red;
                color: white;
            }

            &:hover {
                scale: 1.15;
                cursor: pointer;
            }
        }
    }
}
/* TODO Los estilos bordes del input se pierden cuando se quiere escribir en ellos */



/** -------------- ONLY CONTACTAME --------------*/
#formContactanos {
    width: 35%;
    margin: 2.5rem auto;

    padding: 0.9375rem 1.5rem;
    border: 1px solid var(--color-borde-principal);
    border-radius: 0.875rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 1.875rem;
        text-align: center;
        margin-bottom: 1.25rem;
    }

    div {
        width: 95%;
        margin: auto;
    }

    #contenedorInputWrite {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem 10px;
        margin-bottom: 1.875rem;

        input,
        select {
            width: 47.5%;
            padding: 0.4375rem;
            border: 0.1875rem solid var(--color-borde-principal);
            border-radius: 0.5rem;
            cursor: pointer;
        }
    }

    #comentarioForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1.875rem;
        gap: 5px;

        label, textarea{
            cursor: pointer;
        }

        
        textarea {
            width: 100%;
            height: 150px;
            margin: auto;
            padding: 0.5rem;
            
            border: 0.1875rem solid var(--color-borde-principal);
            
            border-radius: 0.5rem;
        }
        
        p {
            text-align: end;
        }


    }

    #contenedorFormBotonesEnviarYBorrar {
        display: flex;
        justify-content: center;
        gap: 1.875rem 1.875rem;

        input {
            padding: 0.625rem;
            border-radius: 0.5rem;
            font-size: 1rem;
            font-weight: bold;
            border: 0.1563rem solid var(--color-borde-principal);

            &[type="submit"] {
                background-color: green;
                color: white;
            }

            &[type="reset"] {
                background-color: red;
                color: white;
            }

            &:hover {
                scale: 1.05;
                cursor: pointer;
            }
        }
    }
}




