
/** Estilos de los colores */
@import './colores.css';

/** Estilos Generales para todas las paginas del sitio web */
@import './general/menu_contenidos/menu_contenidos.css';


/** Estilos para cada pagina del sitio web */
@import './paginas/inicio/inicio.css';
@import './paginas/quien_soy/quien_soy.css';
@import './paginas/contactame/contactame.css';
@import './paginas/vocabulario/vocabulario.css';
@import './paginas/registro/registro.css';
@import './paginas/login/login.css';







/** -------- IGUAL PARA TODAS LAS PAGINAS --------*/


/** UNIVERSAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/** BODY */
body {
    background-color: var(--color-fondo-principal);
    color: var(--color-texto-principal);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}


/** HEADER */
header {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    padding: 14px 20px;
    border-bottom: 0.1px solid var(--color-borde-principal);
    border-radius: 0rem 0rem 0.4375rem 0.4375rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    #logos {
        width: 30%;
        img {
            width: 4.6875rem;
            height: 4.6875rem;
        }
    }

    h1 {
        a {
            color: var(--color-texto-principal);
            font-size: 2.5rem;
            letter-spacing: 0.0313rem;
            text-decoration: underline 0.125rem var(--color-subrayado-principal);
            text-underline-offset: 0.375rem;
        }
    }

    nav {
        width: 30%;
        ul {
            display: flex;
            justify-content: space-between;
            gap: 5px;
            li {
                list-style: none;
                a {
                    font-weight: bold;
                    text-decoration: none;
                    color: var(--color-texto-principal);
                    letter-spacing: 0.025rem;
                    cursor: pointer;

                    &:hover {
                        color: var(--color-texto-terciario);
                        font-size: 1.01rem;
                        text-decoration: underline 0.075rem
                            var(--color-subrayado-principal);
                        text-underline-offset: 0.375rem;
                    }
                }
            }
        }
    }
}


/** MAIN GENERAL */
main {
    width: 100%;
    padding: 0px 15px;
    position: relative;
    /* TODO El position relative del login quizas se saca cuando lo trabaje en css */
}


/** ASIDE */
aside {
    width: 15%;
    height: fit-content;
    padding: 10px;
    padding-top: 0px;

    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 45px;

    #tituloAside {
        font-size: 18px;
        width: 100%;
        padding: 4px;
        border-radius: 8px;
    }

    #sectionPacho8aYoutube {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h4 {
            font-size: 16px;
            width: fit-content;
            margin: auto;
            padding: 5px;
            border-radius: 8px;
        }

        a {
            color: var(--color-texto-principal);
            text-decoration: none;
        }

        iframe {
            margin: auto;
            width: 200px;
            height: 150px;
        }
    }

    #sectionPacho8aSitioWeb {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h4 {
            font-size: 16px;
            width: fit-content;
            margin: auto;
            padding: 5px;
            border-radius: 8px;
        }

        img {
            width: 125px;
        }

        a {
            color: var(--color-texto-principal);
            text-decoration: none;
        }
    }
}


/** FOOTER */
footer {
    padding: 30px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 20px;

    border-top: 1px solid var(--color-borde-principal) ;

    #footerSecciones {
        margin: auto;
        width: 80%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;

        section {
            margin: auto;
            width: 20%;

            img {
                width: 40px;
                height: 40px;
            }
        }
    }

    a {
        color: var(--color-texto-principal);
    }
}