header {
    background-color: #0084ea;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    img {
        width: 50px;
        height: 50px;
    }

    nav {
        ul {
            display: flex;
            gap: 8px;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}

main {
    background-color: #00daf5;
    padding: 20px;
}

aside {
    background-color: #ffe06c;
    padding: 20px;

    img {
        width: 100px;
        height: 100px;
    }
}

footer {
    background-color: #0084ea;
    text-align: center;

    img {
        width: 50px;
        height: 50px;
    }
}

.color1 {
    color: #00b1ff;
}
.color2 {
    color: #00daf5;
}
.color3 {
    color: #79f05d;
}
.color4 {
    color: #ffe06c;
}
.color5 {
    color: #ffc9ff;
}
.color1 {
    color: #ffd44f;
}
.color2 {
    color: #e3e673;
}
.color3 {
    color: #0043bb;
}
.color4 {
    color: #0084ea;
}
.color5 {
    color: #00ceff;
}
.color1 {
    color: #20dad6;
}
.color2 {
    color: #8de9b4;
}
.color3 {
    color: #121814;
}
.color4 {
    color: #7a7a76;
}
.color5 {
    color: #f3eae8;
}
