/** lOGIN */
#form_login {
    width: auto;
    margin: auto;

    position: absolute;
    top: 0px;
    right: 500px;

    #contenedorInputWrite_login {
        flex-direction: column;
    }

    #contenedorFormBotonesEnviarYBorrar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}


#form_login {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    /* TODO REVISA opacity y visibility */


}

#form_login:not(.ocultoLogin) {
    opacity: 1;
    visibility: visible;
}