/** lOGIN */
#form_login {
    width: auto;
    margin: auto;

    position: absolute;
    top: 0px;
    right: 150px;

    #contenedorInputWrite_login {
        flex-direction: column;
    }

    #contenedorFormBotonesEnviarYBorrar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}



#form_login.oculto {
    display: none;
}