header {
    background-color: var(--color-header-footer);
    color: var(--color-texto-blanco);
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    padding: 1.6875rem 1.5625rem 1.6875rem 1.5625rem;
    border-bottom: 0.1875rem solid var(--color-borde-dorado);
    border-radius: 0rem 0rem 0.4375rem 0.4375rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    #logos {
        img {
            width: 4.6875rem;
            height: 4.6875rem;
        }
    }

    h1 {
        a {
            color: var(--color-texto-blanco);
            font-size: 2.5rem;
            letter-spacing: 0.0313rem;
            text-decoration: underline 0.125rem var(--color-subrayado-dorado);
            text-underline-offset: 0.375rem;
        }
    }

    nav {
        width: 21rem;
        ul {
            display: flex;
            justify-content: space-between;
            li {
                list-style: none;
                a {
                    font-weight: bold;
                    text-decoration: none;
                    color: var(--color-texto-blanco);
                    letter-spacing: 0.0313rem;
                    cursor: pointer;

                    &:hover {
                        color: var(--color-texto-dorado);
                        font-size: 1.01rem;
                        text-decoration: underline 0.075rem
                            var(--color-subrayado-dorado);
                        text-underline-offset: 0.375rem;
                    }
                }
            }
        }
    }
}
