header {
    background-color: var(--color-header-footer);    
    border-bottom: 2px solid #fccb6f;
    border-radius: 0px 0px 10px 10px;
    height: 135px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #f8f8ec;

    margin-bottom: 25px;

    
    img{
        width: 50px;
        height: 50px;
    }

    h1{
        font-size: 36px;
        letter-spacing: 1.7px;
        text-decoration: underline 3px solid  #fccb6f;
        text-underline-offset: 10px;
    }

    nav {
        width: 600px;
        ul {
            display: flex;
            justify-content: space-between;
            li {
                list-style: none;
                a {
                    font-weight: bold;
                    text-decoration: none;
                    color: #f8f8ec;
                    letter-spacing: 1px;
                    cursor: pointer;

                    &:hover{
                        color: #fccb6f;
                        font-size: 16.5px;
                        border: 1px solid #fccb6f;
                        border-radius: 13px;
                        padding: 13px;

                    }
                }
            }
        }
    }
}

/* TODO quitar el efecto de que cuando crezca una palabra las demas se alteren.  */
/*TODO ARREGLAR EL NESTIN DE HEADER A IMG por id */
