#main_contenedor_aplicacion {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#aplicacion_opcion_y_niveles {
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    #titulo_de_opcion_elegida_y_ayuda {
        width: 95%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 15px;

        h2 {
            width: 80%;
        }

        #contenedor_ayuda {
            width: 20%;
            display: flex;
            justify-content: end;
            position: relative;

            #ayuda_icon {
                padding: 5px;

                img {
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                }
            }
        }

        #contenedor_instrucciones {
            width: 30%;
            margin: auto;
            padding: 1rem;
            border-radius: 8px;
            background-color: var(--color-fondo-principal);
            border: 1px solid var(--color-borde-principal);

            position: absolute;
            top: 65px;
            right: 300px;
            z-index: 30;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: opacity 0.8s ease;

            h4 {
                margin-bottom: 20px;
                text-align: center;
            }

            ol {
                margin: auto;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                li {
                    margin-left: 0.9375rem;
                    font-size: 0.85rem;
                    font-weight: 500;
                }
            }
        }

        #contenedor_instrucciones.oculto {
            display: none;
        }
    }
}

#aplicacion_niveles {
    width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;

    .cajaNivel {
        border: 3px solid var(--color-borde-principal);
        width: 100px;
        height: 100px;
        border-radius: 0.8125rem;

        margin: auto;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
    }
}


/* Estilo para niveles bloqueados */
.cajaNivel.bloqueado::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0.8125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Icono de candado */
.cajaNivel.bloqueado::before {
    content: '🔒';
    position: absolute;
    font-size: 2.5rem;
    color: white;
}