    #aplicacion_menu {
        width: 32.5%;

        border: 3px solid var(--color-borde-principal);
        border-radius: 8px;
        box-shadow: 3px 3px 5px var(--color-borde-principal);

        ul {
            padding: 20px 0px 20px 10px;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: start;
            gap: 2.5rem;

            li {
                list-style: none;
                a {
                    display: inline-block;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        width: 0;
                        height: 0.15rem;
                        background-color: var(--color-subrayado-principal);
                        transition: all 0.5s ease;
                        transform: translateX(-50%);
                    }

                    &:hover {
                        color: var(--color-texto-terciario);

                        &::after {
                            width: 100%;
                            transition: all 0.35s ease;
                        }
                    }
                }
            }
        }
    }