#aplicacion_practica {
    width: 80%;

    display: grid;
    place-items: center;
    height: 100vh;
    margin: auto;



    .parent {
        width: 100%;
        height: 50%;

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 5px;
        border: 3px solid var(--color-borde-principal);
        border-radius: 8px;
        margin: auto;
        padding: 1rem;
        border-radius: 0.8125rem;

        #tarea {
            grid-column: 1 / 3;
            grid-row-start: 1;

            text-align: start;
            height: 35px;

            h3 {
                font-size: 2rem;
            }
        }

        #iconoAyuda {
            grid-column: 5;
            grid-row-start: 1;

            color: gold;
            display: flex;
            flex-direction: row;
            justify-content: end;

            p {
                padding: 10px;
                border-radius: 8px;
                font-size: 1.2rem;
                font-weight: bold;
                height: max-content;
            }
        }

        #verbo {
            grid-column: 2 / 5;
            grid-row-start: 2;
            display: grid;
            place-items: center;

            h2 {
                text-align: center;
                width: 100%;
                font-size: 3rem;
            }
        }

        .opcion {
            display: grid;
            place-items: center;
            margin: auto;

            h4 {
                font-size: 1.5rem;
                cursor: pointer;
                display: inline-block;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    width: 0;
                    height: 0.15rem;
                    background-color: var(--color-subrayado-principal);
                    transition: all 0.5s ease;
                    transform: translateX(-50%);
                }

                &:hover {
                    color: var(--color-texto-terciario);

                    &::after {
                        width: 100%;
                        transition: all 0.35s ease;
                    }
                }
            }
        }

        #opcion1 {
            grid-row-start: 3;
            grid-column-start: 2;
        }

        #opcion2 {
            grid-row-start: 3;
            grid-column-start: 3;
        }

        #opcion3 {
            grid-row-start: 3;
            grid-column-start: 4;
        }

        .botones, 
        .contadores {
            display: grid;
            place-items: center;


            font-weight: bold;
            padding: 10px;
            border-radius: 10px;

            color: var(--color-texto-principal);
            border: 0.125rem solid var(--color-borde-principal);
            background-color: var(--color-fondo-principal);
            cursor: pointer;

            h3{
                font-size: 1.3rem;
            }
        }

        .div8 {
            grid-column-start: 2;
            grid-row-start: 4;
        }

        .div9 {
            grid-column-start: 3;
            grid-row-start: 4;
        }

        .div10 {
            grid-column-start: 4;
            grid-row-start: 4;
        }
    }
}
