aside {

    background-color: var(--color-fondoAside);
    width: 15%;
    height: fit-content;
    padding: 10px;
    padding-top: 0px;

    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 45px;

    #tituloAside {
        color: var(--color-texto-blanco);
        background-color: var(--color-fondoOscuro);
        font-size: 18px;
        width: 100%;
        /* margin-top: 15px; */
        padding: 4px;
        border-radius: 8px;
    }

    #sectionPacho8aYoutube {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h4 {
            color: var(--color-textoOscuro);
            background-color: var(--color-fondoBlanco);
            font-size: 16px;
            width: fit-content;
            margin: auto;
            padding: 5px;
            border-radius: 8px;
        }

        a {
            color: var(--color-textoOscuro);
            text-decoration: none;
        }

        iframe {
            margin: auto;
            width: 200px;
            height: 150px;
        }
    }

    #sectionPacho8aSitioWeb {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h4 {
            color: var(--color-textoOscuro);
            background-color: var(--color-fondoBlanco);
            font-size: 16px;
            width: fit-content;
            margin: auto;
            padding: 5px;
            border-radius: 8px;
        }

        img {
            width: 125px;
        }

        a {
            color: var(--color-textoOscuro);
            text-decoration: none;
        }
    }
}
