aside {
    background-color: #3a8ba9;
    width: 20%;
    padding: 15px;
    /* del main que lo contiene */
    margin-left: 50px;
    border-radius: 15px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 30px;

    h3 {
        color: var(--color-texto-blanco);
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        background-color: var(--color-aside);
        padding: 5px;
        border-radius: 10px;
        color: var(--color-header-footer-textoOscuro);
    }

    .pacho8a {
        display: flex;
        flex-direction: column;
        gap: 25px;

        iframe{
            margin: auto;
        }
        img {
            width: 150px;
        }
    }
}
