@media (max-width: 1200px) {
    #header {
        #header_titulo {
            gap: 0px;
        }

        #menu {
            ul {
                gap: 1.2rem;
            }
        }
    }

    #main_home {
        #main_contenedor_aplicacion {
            width: 100%;

            #aplicacion_menu {
                width: 33%;
            }

            #contenedor_instrucciones {
                width: 50%;
            }
        }

        aside {
            width: 100%;
            flex-direction: row;
            margin-top: 40px;
        }
    }

    #main_aboutMe {
        .about-section {
            .foto {
                width: 30%;
                object-fit: contain;
            }
        }
    }
}

@media (max-width: 1100px) {
    #header {
        #header_titulo {
            width: 47.5%;
            img {
                display: none;
            }
        }

        #menu {
            width: 52.5%;
            ul {
                gap: 0.9rem;
            }
        }
    }
}

@media (max-width: 1000px) {
    #header {
        #header_titulo {
            a {
                h1 {
                    font-size: 3.2rem !important;
                }
            }
        }

        #menu {
            ul {
                li {
                    a {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    #main_home {
        #main_contenedor_aplicacion {
            width: 100%;

            #aplicacion_menu {
                width: 40%;
            }

            #aplicacion_opcion_y_niveles {
                width: 60%;
                padding: 0 10px;

                #aplicacion_niveles {
                    gap: 15px;
                }
            }
        }

        aside {
            width: 100%;
            flex-direction: row;
            margin-top: 40px;
        }
    }

    #main_aboutMe {
        .about-section {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 920px) {
    #header {
        #header_titulo {
            a {
                h1 {
                    font-size: 2.8rem !important;
                }
            }
        }

        #menu {
            ul {
                gap: 0.8rem;
                li {
                    a {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    #main_aboutMe {
        .about-section {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 860px) {
    #header {
        #header_titulo {
            a {
                h1 {
                    font-size: 2.4rem !important;
                }
            }
        }

        #menu {
            ul {
                gap: 0.75rem;
                li {
                    a {
                        font-size: 0.85rem;
                    }
                }
            }
        }
    }

    #main_home {
        #main_contenedor_aplicacion {
            width: 100%;

            #aplicacion_menu {
                width: 38%;
            }

            #aplicacion_opcion_y_niveles {
                width: 62%;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}

@media (max-width: 780px) {
    #header {
        #header_titulo {
            width: 72.5%;
            a {
                h1 {
                    font-size: 2.6rem !important;
                }
            }
        }

        #menu {
            border: 1px solid gold;
            width: 27.5%;
            display: none;
            position: absolute;
            top: 115px;
            right: 0;
            background-color: var(--color-fondo-principal);
            z-index: 1;
            /*TODO saca el z index cuando mueva el aside hacia abajo. */
            justify-content: center;

            ul {
                flex-direction: column;
                padding: 16px 0px;
                gap: 1rem;

                li {
                    text-align: end;

                    a {
                        font-size: 1rem;
                    }
                }
            }
        }

        /* Icono de menú */
        #menu-icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.4rem;
            cursor: pointer;
            width: 2.5rem;
            height: 2.5rem;

            span {
                height: 0.25rem;
                width: 100%;
                background-color: var(---color-fondo-terciario);
                transition: all 0.5s ease;
            }
        }

        /* cuando el menu esta oculto */
        #menu-toggle {
            display: none;
        }

        /* Animación del icono al abrir */
        #menu-toggle:checked + #menu-icon span:nth-child(1) {
            transform: rotate(44deg);
            position: relative;
            top: 0.6rem;
        }

        #menu-toggle:checked + #menu-icon span:nth-child(2) {
            opacity: 0;
        }

        #menu-toggle:checked + #menu-icon span:nth-child(3) {
            transform: rotate(-46deg);
            position: relative;
            top: -0.6rem;
        }

        /* Mostrar menú cuando el checkbox está activo */
        #menu-toggle:checked ~ #menu {
            display: flex;
        }
    }

    #main_home {
        #main_contenedor_aplicacion {
            width: 100%;

            #aplicacion_menu {
                width: 38%;
            }

            #aplicacion_opcion_y_niveles {
                width: 62%;
                display: flex;
                flex-direction: column;
                gap: 10px;

            }
        }
    }
}

@media (max-width: 510px) {
    #header {
        #header_titulo {
            a {
                h1 {
                    font-size: 2rem !important;
                }
            }
        }

        #menu {
            display: none;
            position: absolute;
            top: 115px;
            right: 0;
            background-color: var(--color-fondo-principal);
            width: 100%;
            border: 1px solid white;
            z-index: 1;
            /*TODO saca el z index cuando mueva el aside hacia abajo. */
            justify-content: center;
        }

        #menu ul {
            flex-direction: column;
            padding: 16px 0px;
            gap: 1rem;
        }

        #menu ul li {
            text-align: center;
        }

        #menu-icon {
            width: 2rem;
            height: 2rem;
        }
    }

    #main_aboutMe {
        .about-section {
            flex-direction: column;
            align-items: center;

            .foto {
                width: 40%;
            }

            .about_content {
                h2 {
                    text-align: center;
                    font-size: 2.5rem !important;
                }

                p {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    #header {
        #header_titulo {
            width: 95%;

            a {
                h1 {
                    font-size: 1.9rem !important;
                }
            }
        }

        #menu-icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    #main_home {
        #main_contenedor_aplicacion {
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 80%;

            border: 1px solid white;

            #aplicacion_menu {
                width: 100%;
            }

            #aplicacion_opcion_y_niveles {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                border: 1px solid white;

                #aplicacion_niveles {
                    background-color: #31383a;
                    width: 100%;
                    margin: 0 auto;

                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
                    gap: 20px;
                    padding: 10px;
                }
            }
        }
    }

    #main_aboutMe {
        .about-section {
            flex-direction: column;
            align-items: center;

            .foto {
                width: 40%;
            }

            .about_content {
                h2 {
                    width: 100%;
                    font-size: 2.2rem !important;
                }

                p {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    #header {
        #header_titulo {
            width: 95%;

            a {
                h1 {
                    font-size: 1.7rem !important;
                }
            }
        }

        #menu-icon {
            width: 1.4rem;
            height: 1.4rem;
        }
    }

    #main_aboutMe {
        .about-section {
            flex-direction: column;
            align-items: center;

            .foto {
                width: 40%;
            }

            .about_content {
                h2 {
                    width: 100%;
                    font-size: 1.85rem !important;
                }

                p {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
}

@media (max-width: 360px) {
    #header {
        #header_titulo {
            width: 95%;

            a {
                h1 {
                    font-size: 1.5rem !important;
                }
            }
        }

        #menu-icon {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    #main_aboutMe {
        .about-section {
            flex-direction: column;
            align-items: center;

            .foto {
                width: 40%;
            }

            .about_content {
                h2 {
                    width: 100%;
                    font-size: 1.6rem !important;
                }

                p {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
}
