@media (max-width: 1250px) {
    #aplicacion_menu {
        width: 34%;
        ul {
            padding: 20px 0px 20px 10px;
        }
    }

    #aplicacion_opcion_y_niveles {
        width: 65%;
    }
}

@media (max-width: 1170px) {
    #header {
        #header_titulo {
            gap: 0px;
        }

        #menu {
            ul {
                gap: 1.2rem;
            }
        }
    }

    #main_home {
        #main_contenedor_aplicacion {
            width: 100%;

            #aplicacion_menu {
                width: 30%;
            }

            #aplicacion_opcion_y_niveles {
                width: 68%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                #contenedor_instrucciones {
                    width: 50%;
                }
            }
        }

        aside {
            width: 100%;
            margin: auto;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 40px;

            h3 {
                align-self: center;
                font-size: 1.5rem;
            }
        }

        #aplicacion_practica {
            .parent {
                gap: 25px;
                #tarea {
                    grid-column: 1 / 4;
                }
            }
        }
    }

    #main_aboutMe {
        .about-section {
            .foto {
                width: 30%;
                object-fit: contain;
            }
        }
    }
}

@media (max-width: 1100px) {
    #header {
        #header_titulo {
            width: 47.5%;
            img {
                display: none;
            }
        }

        #menu {
            width: 52.5%;
            ul {
                gap: 0.9rem;
            }
        }
    }
}

@media (max-width: 1050px) {
    #main_home {
        #main_contenedor_aplicacion {
            width: 100%;
            justify-content: space-around;

            #aplicacion_menu {
                width: 35%;
            }

            #aplicacion_opcion_y_niveles {
                width: 55%;
            }
        }

        aside {
            width: 95%;
        }
    }
}

@media (max-width: 1000px) {
    #header {
        #header_titulo {
            a {
                h1 {
                    font-size: 3.2rem !important;
                }
            }
        }

        #menu {
            ul {
                li {
                    a {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    #main_home {
        #aplicacion_practica {
            width: 90%;

            .parent {
                gap: 25px;
                #tarea {
                    grid-column: 1 / 4;

                    h3 {
                        font-size: 1.5rem;
                    }
                }

                #iconoAyuda {
                    grid-column: 5 / 6;

                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    #main_aboutMe {
        .about-section {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 920px) {
    #header {
        #header_titulo {
            a {
                h1 {
                    font-size: 2.8rem !important;
                }
            }
        }

        #menu {
            ul {
                gap: 0.8rem;
                li {
                    a {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    #main_home {
        #main_contenedor_aplicacion {
            width: 100%;

            #aplicacion_menu {
                width: 40%;
            }

            #aplicacion_opcion_y_niveles {
                width: 55%;
            }
        }

        aside {
            width: 97.5%;
            margin: auto;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 40px;

            h3 {
                align-self: center;
                font-size: 1.5rem;
            }
        }
    }

    #main_aboutMe {
        .about-section {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 860px) {
    #header {
        #header_titulo {
            a {
                h1 {
                    font-size: 2.4rem !important;
                }
            }
        }

        #menu {
            ul {
                gap: 0.75rem;
                li {
                    a {
                        font-size: 0.85rem;
                    }
                }
            }
        }
    }

    #main_home {
        #aplicacion_practica {
            width: 95%;

            .parent {
                gap: 25px;
                #tarea {
                    grid-column: 1 / 4;

                    h3 {
                        font-size: 1.4rem;
                    }
                }

                #iconoAyuda {
                    grid-column: 5 / 6;

                    p {
                        font-size: 1rem;
                    }
                }

                #verbo {
                    h2 {
                        text-align: center;
                        width: 100%;
                        font-size: 2.5rem;
                    }
                }

                .opcion {
                    h4 {
                        font-size: 1.1rem;
                    }
                }

                .botones,
                .contadores {
                    width: 95%;
                    height: 100%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    font-weight: bold;
                    padding: 10px;
                    border-radius: 10px;

                    h3 {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 795px) {
    #header {
        #header_titulo {
            width: 72.5%;
            a {
                h1 {
                    font-size: 2.6rem !important;
                }
            }
        }

        #menu {
            border: 1px solid gold;
            width: 27.5%;
            display: none;
            position: absolute;
            top: 115px;
            right: 0;
            background-color: var(--color-fondo-principal);
            z-index: 1;
            /*TODO saca el z index cuando mueva el aside hacia abajo. */
            justify-content: center;

            ul {
                flex-direction: column;
                padding: 16px 0px;
                gap: 1rem;

                li {
                    text-align: end;

                    a {
                        font-size: 1rem;
                    }
                }
            }
        }

        /* Icono de menú */
        #menu-icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.4rem;
            cursor: pointer;
            width: 2.5rem;
            height: 2.5rem;

            span {
                height: 0.25rem;
                width: 100%;
                background-color: var(---color-fondo-terciario);
                transition: all 0.5s ease;
            }
        }

        /* cuando el menu esta oculto */
        #menu-toggle {
            display: none;

            /* Animación del icono al abrir */
            &:checked + #menu-icon span:nth-child(1) {
                transform: rotate(44deg);
                position: relative;
                top: 0.6rem;
            }

            &:checked + #menu-icon span:nth-child(2) {
                opacity: 0;
            }

            &:checked + #menu-icon span:nth-child(3) {
                transform: rotate(-46deg);
                position: relative;
                top: -0.6rem;
            }

            /* Mostrar menú cuando el checkbox está activo */
            &:checked ~ #menu {
                display: flex;
            }
        }
    }

    #main_home {
        #main_contenedor_aplicacion {
            width: 100%;

            #aplicacion_menu {
                width: 45%;
                ul {
                    li {
                        a {
                            font-size: 1rem;
                        }
                    }
                }
            }

            #aplicacion_opcion_y_niveles {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                #titulo_de_opcion_elegida_y_ayuda {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin: 0 auto;
                    margin-bottom: 15px;
                }

                #aplicacion_niveles {
                    width: 100%;
                    margin: 0 auto;

                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                    gap: 10px 5px;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    #main_home {
        #main_contenedor_aplicacion {
            width: 100%;

            #aplicacion_menu {
                width: 46%;

                ul {
                    li {
                        a {
                            font-size: 1.05rem;
                        }
                    }
                }
            }

            #aplicacion_opcion_y_niveles {
                width: 50%;
                gap: 10px;

                #titulo_de_opcion_elegida_y_ayuda {
                    width: 95%;
                    h2 {
                        font-size: 1.4rem;
                    }
                }
            }
        }

        aside {
            h3 {
                align-self: center;
                font-size: 1.2rem;
            }
        }

        #aplicacion_practica {
            width: 95%;

            .parent {
                grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
                min-height: fit-content;

                gap: 20px;
                #tarea {
                    grid-column: 1 / 4;

                    h3 {
                        font-size: 1.4rem;
                    }
                }

                #iconoAyuda {
                    grid-column: 5 / 6;

                    p {
                        font-size: 1rem;
                    }
                }

                #verbo {
                    grid-column: 2 / 5;

                    h2 {
                        text-align: center;
                        width: 100%;
                        font-size: 2.3rem;
                    }
                }

                .opcion {
                    width: 100%;
                    h4 {
                        font-size: 1.1rem;
                    }
                }

                .botones,
                .contadores {
                    h3 {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 630px) {
    #main_home {
        #main_contenedor_aplicacion {
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            gap: 40px;

            #aplicacion_menu {
                width: 80%;
                margin: auto;

                ul {
                    align-items: center;
                    gap: 1rem;
                    li {
                        a {
                            font-size: 1.05rem;
                        }
                    }
                }
            }

            #aplicacion_opcion_y_niveles {
                width: 80%;
                margin: auto;
                gap: 10px;

                #titulo_de_opcion_elegida_y_ayuda {
                    width: 100%;
                    h2 {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        aside {
            width: 80%;
            flex-wrap: wrap;

            h3 {
                width: 100%;
                align-self: center;
            }
        }

        #aplicacion_practica {
            width: 95%;

            .parent {
                grid-template-rows: repeat(5, 1fr);

                #tarea {
                    grid-column: 2 / 5;
                    grid-row-start: 2;

                    text-align: start;
                    height: 35px;

                    h3 {
                        text-align: center;
                        font-size: 1.2rem;
                    }
                }

                #iconoAyuda {
                    border: none;
                    p {
                        text-align: center;
                        font-size: 0.75rem;
                        padding: 0;

                        border: none;
                    }
                }

                #verbo {
                    grid-row-start: 3;
                    h2 {
                        font-size: 1.7rem;
                    }
                }

                #opcion1 {
                    grid-row-start: 4;
                }

                #opcion2 {
                    grid-row-start: 4;
                }

                #opcion3 {
                    grid-row-start: 4;
                }

                .div8 {
                    grid-row-start: 5;
                }

                .div9 {
                    grid-row-start: 5;
                }

                .div10 {
                    grid-row-start: 5;
                }
            }
        }
    }

    #main_contact_me {
        #formContactanos {
            width: 90%;

            #contenedorInputWrite_contactanos {
                gap: 15px 5px;

                input,
                select {
                    flex: 1 1 calc(50% - 10px);
                    max-width: calc(50% - 10px);
                    min-width: 160px;
                }
            }
        }
    }
}

@media (max-width: 525px) {
    #header {
        #header_titulo {
            a {
                h1 {
                    font-size: 2rem !important;
                }
            }
        }

        #menu {
            display: none;
            position: absolute;
            top: 115px;
            right: 0;
            background-color: var(--color-fondo-principal);
            width: 100%;
            border: 1px solid white;
            z-index: 1;
            /*TODO saca el z index cuando mueva el aside hacia abajo. */
            justify-content: center;
        }

        #menu ul {
            flex-direction: column;
            padding: 16px 0px;
            gap: 1rem;
        }

        #menu ul li {
            text-align: center;
        }

        #menu-icon {
            width: 2rem;
            height: 2rem;
        }
    }

    #main_home {
        #aplicacion_practica {
            width: 95%;

            .parent {
                width: 100%;
                gap: 5px;

                #tarea {
                    grid-column: 2 / 5;
                    grid-row-start: 2;

                    height: 15px;

                    h3 {
                        text-align: center;
                        font-size: 1.2rem;
                    }
                }

                #iconoAyuda {
                    grid-column: 3 / 4;
                    height: 20px;

                    display: flex;
                    justify-content: center;

                    p {
                        text-align: center;
                        padding: 0;
                    }
                }

                #verbo {
                    grid-column: 1 / 6;
                    grid-row-start: 3;
                    h2 {
                        font-size: 1.2rem;
                    }
                }

                .opcion {
                    h4 {
                        font-size: 1rem;
                    }
                }

                .botones,
                .contadores {
                    font-weight: 500;

                    h3 {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    #main_aboutMe {
        .about-section {
            flex-direction: column;
            align-items: center;

            .foto {
                width: 40%;
            }

            .about_content {
                h2 {
                    text-align: center;
                    font-size: 2.5rem !important;
                }

                p {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }
    }

    #main_contact_me {
        #formContactanos {
            #contenedorInputWrite_contactanos {
                width: 100%;
                gap: 15px 5px;
                flex-direction: column;

                input,
                select {
                    max-width: calc(100% - 5px);
                    min-width: 150px;
                }
            }
        }
    }

    footer {
        width: 100%;
        padding: 30px 10px;
        text-align: center;

        display: flex;
        flex-direction: column;
        gap: 40px;

        border-top: 1px solid var(--color-borde-principal);

        #footerSecciones {
            justify-content: space-between;
            gap: 15px;

            section {
                margin: auto;
                width: 45%;
                a {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    #header {
        #header_titulo {
            width: 95%;

            a {
                h1 {
                    font-size: 1.9rem !important;
                }
            }
        }

        #menu-icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    #main_aboutMe {
        .about-section {
            flex-direction: column;
            align-items: center;

            .foto {
                width: 40%;
            }

            .about_content {
                h2 {
                    width: 100%;
                    font-size: 2.2rem !important;
                }

                p {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    #header {
        #header_titulo {
            width: 95%;

            a {
                h1 {
                    font-size: 1.7rem !important;
                }
            }
        }

        #menu-icon {
            width: 1.4rem;
            height: 1.4rem;
        }
    }

    #main_home {
        #main_contenedor_aplicacion {
            width: 100%;

            #aplicacion_menu {
                width: 95%;

                ul {
                    padding: 10px;
                }
            }

            #aplicacion_opcion_y_niveles {
                width: 95%;
            }
        }

        #aplicacion_practica {
            width: 95%;

            .parent {
                width: 100%;
                gap: 5px;

                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(6, 1fr);

                #tarea {
                    grid-column: 2 / 5;
                    grid-row-start: 2;

                    height: 15px;

                    h3 {
                        text-align: center;
                        font-size: 1.2rem;
                    }
                }

                #iconoAyuda {
                    grid-column: 3 / 4;
                    height: 20px;

                    display: flex;
                    justify-content: center;

                    p {
                        text-align: center;
                        padding: 0;
                    }
                }

                #verbo {
                    grid-column: 1 / 6;
                    grid-row-start: 3;
                    h2 {
                        font-size: 1.3rem;
                    }
                }

                .opcion {
                    h4 {
                        font-size: 0.85rem;
                    }
                }

                #opcion1 {
                    grid-row-start: 4;
                    grid-column-start: 3;
                }

                #opcion2 {
                    grid-row-start: 5;
                    grid-column-start: 3;
                }

                #opcion3 {
                    grid-row-start: 6;
                    grid-column-start: 3;
                }

                .botones,
                .contadores {
                    font-weight: normal;

                    h3 {
                        font-size: 0.85rem;
                    }
                }

                .div8 {
                    grid-row-start: 7;
                }

                .div9 {
                    grid-row-start: 7;
                }

                .div10 {
                    grid-row-start: 7;
                }
            }
        }
    }

    #main_aboutMe {
        .about-section {
            flex-direction: column;
            align-items: center;

            .foto {
                width: 40%;
            }

            .about_content {
                h2 {
                    width: 100%;
                    font-size: 1.85rem !important;
                }

                p {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
}

@media (max-width: 340px) {
    #header {
        #header_titulo {
            width: 95%;

            a {
                h1 {
                    font-size: 1.5rem !important;
                }
            }
        }

        #menu-icon {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    #main_home {
        #main_contenedor_aplicacion {
            width: 100%;

            #aplicacion_menu {
                width: 95%;

                ul {
                    padding: 10px;

                    li {
                        a {
                            font-size: 0.85rem;
                        }
                    }
                }
            }

            #aplicacion_opcion_y_niveles {
                width: 90%;

                #titulo_de_opcion_elegida_y_ayuda {
                    margin-bottom: 0;
                    h2 {
                        font-size: 1.1rem;
                    }
                }
            }

            #aplicacion_niveles {
                width: 100%;

                .cajaNivel {
                    height: 85px;
                    width: 85px;
                }
            }
        }

        aside {
            width: 95%;
        }

        #aplicacion_practica {
            width: 95%;

            .parent {
                width: 100%;
                gap: 5px;

                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(6, 1fr);

                #tarea {
                    grid-column: 2 / 5;
                    grid-row-start: 2;

                    height: 15px;

                    h3 {
                        text-align: center;
                        font-size: 1rem;
                    }
                }

                #iconoAyuda {
                    grid-column: 3 / 4;
                    height: 20px;

                    display: flex;
                    justify-content: center;

                    p {
                        text-align: center;
                        padding: 0;
                    }
                }

                #verbo {
                    grid-column: 1 / 6;
                    grid-row-start: 3;
                    h2 {
                        font-size: 1rem;
                    }
                }

                .opcion {
                    h4 {
                        font-size: 0.65rem;
                    }
                }

                #opcion1 {
                    grid-row-start: 4;
                    grid-column-start: 3;
                }

                #opcion2 {
                    grid-row-start: 5;
                    grid-column-start: 3;
                }

                #opcion3 {
                    grid-row-start: 6;
                    grid-column-start: 3;
                }

                .botones,
                .contadores {
                    font-weight: normal;

                    h3 {
                        font-size: 0.65rem;
                    }
                }

                .div8 {
                    grid-row-start: 7;
                }

                .div9 {
                    grid-row-start: 7;
                }

                .div10 {
                    grid-row-start: 7;
                }
            }
        }
    }

    #main_aboutMe {
        .about-section {
            flex-direction: column;
            align-items: center;

            .foto {
                width: 40%;
            }

            .about_content {
                h2 {
                    width: 100%;
                    font-size: 1.6rem !important;
                }

                p {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }
    }

    #main_contact_me {
        #formContactanos {
            width: 90%;
            padding: 20px 10px;

            #contenedorInputWrite_contactanos {
                input,
                select {
                    max-width: 100%;
                    min-width: 140px;
                }
            }
        }
    }
}
