#formRegistro {
    width: 50%;
    margin: 50px auto;

    padding: 25px;
    background-color: #090a31;
    border: 5px solid var(--color-borde-dorado);
    border-radius: 14px;
    font-family: sans-serif;
    color: var(--color-texto-blanco);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    h2 {
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    div {
        width: 90%;
    }

    #contenedorInputWrite {
        margin: auto;
        margin-bottom: 15px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px 35px;

        input {
            width: 40%;
            padding: 7px;
            border: 3px solid var(--color-borde-dorado);
            border-radius: 8px;
        }
    }

    #contenedorFormSeleccionTemas {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            font-size: 20px;
            margin-bottom: 4px;
            text-align: center;
        }

        p {
            text-align: center;
            margin-bottom: 12px;
        }

        #contenedorOpcionesTematicas {
            width: 80%;
            margin-bottom: 20px;

            display: flex;
            gap: 15px;

            div {
                margin: auto;
                display: flex;
                gap: 5px;

                input {
                    &:hover {
                        scale: 1.35;
                    }
                }
            }
        }
    }

    #contenedorFormRangoDeEdad {
        margin: auto;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;

        h4 {
            font-size: 20px;
            margin-bottom: 4px;
            text-align: center;
        }

        #OpcionesDeEdad {
            display: flex;
            gap: 18px;
            margin: auto;

            div {
                input {
                    &:hover {
                        scale: 1.35;
                    }
                }
            }
        }
    }

    #contenedorFormBotonesEnviarYBorrar {
        display: flex;
        justify-content: center;
        gap: 30px;

        input {
            padding: 10px;
            border-radius: 8px;
            font-size: 16px;
            font-weight: bold;
            border: 2.5px solid var(--color-borde-dorado);

            &[type="submit"] {
                background-color: green;
                color: white;
            }

            &[type="reset"] {
                background-color: red;
                color: white;
            }

            &:hover {
                scale: 1.15;
                cursor: pointer;
            }
        }
    }
}

/* TODO Los estilos bordes del input se pierden cuando se quiere escribir en ellos */
