#formLogin {
    width: 275px;
    margin: auto;

    padding: 10px;
    background-color: var(--color-fondo-principal);
    border: 0.1875rem solid var(--color-borde-principal);
    border-radius: 0.875rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute; /* Cambiar a posición absoluta */
    top: 0px; /* Ajustar según tus necesidades */
    right: 250px; /* Ajustar para moverlo a la esquina superior derecha */

    opacity: 0.001;

    /* TODO Con JS esta opacity se reemplazara por un event sobre el link Login; */

    &:hover {
        opacity: 1;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    div {
        margin: auto;
        width: 90%;
    }

    #contenedorInputWrite {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 22px 25px;
        margin-bottom: 1.7rem;

        input {
            width: 100%;
            padding: 7px;
            border: 0.1875rem solid var(--color-borde-principal);
            border-radius: 0.5rem;
        }
    }

    #contenedorFormBotonesEnviarYBorrar {
        width: 90%;
        display: flex;
        justify-content: space-between;

        input {
            padding: 7px 10px;
            border-radius: 0.5rem;
            font-size: 1rem;
            font-weight: bold;
            border: 0.1563rem solid var(--color-borde-principal);

            &[type="submit"] {
                background-color: green;
                color: var(--color--texto-blanco);
            }

            &[type="reset"] {
                background-color: red;
                color: var(--color--texto-blanco);
            }

            &:hover {
                scale: 1.05;
                cursor: pointer;
            }
        }
    }
}
