* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #010d23;
    color: var(--color-texto-principal);
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

main {
    width: 100%;
    padding: 0px 15px;
    position: relative;
    /* TODO El position relative del login quizas se saca cuando lo trabaje en css */
}
